* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.product-image img {
  grid-area: "image";
  max-width: 400px;
  height: 400px;
  object-fit: cover;
}

.product-description {
  max-width: 400px;
}

.product-description p {
  color: rgb(163, 158, 158);
}

.product-description > p:first-of-type {
  color: blue;
}

.product-description h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.product-description span {
  font-weight: 300;
  font-style: italic;
}

.product-description > p:nth-of-type(2) {
  border-bottom: 1px rgb(158, 151, 151) solid;
  height: 60px;
  max-width: fit-content;
  margin-bottom: 10px;
}

.product-color {
  display: flex;
  gap: 10px;
  margin: 5px;
}

.product-color .color-1 {
  border-radius: 20px;
  background-color: red;
  width: 30px;
  height: 30px;
}

.product-color .color-2 {
  border-radius: 20px;
  background-color: blue;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.product-color .color-2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-color .color-3 {
  border-radius: 20px;
  background-color: black;
  width: 30px;
  height: 30px;
}

.product-line {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px rgb(158, 151, 151) solid;
  max-width: 100%;
}

.product-price {
  display: flex;
  gap: 15px;
}

.product-price p {
  font-weight: 500;
}

.product-price input {
  background-color: rgb(21, 238, 21);
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: white;
}
